body{
  background-image: url("Unknown.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: 250px 250px;
  background: repeating-linear-gradient(45deg,rgba(255,0,0,0) 10%,rgba(255,0,0,1) 30% );
}
.space{
  height: 600px;
}
