/*navbar*/
*{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  height: auto;
  padding-bottom: 75px;
}
nav{
  background-color: #efefef;
}
nav ul{
  margin-right: 50px;
}
nav ul li{
  margin-right: 20px;
  float: right;
  display: inline;
}
li a{
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}

.logo{
  float: left;
  padding: 1em;
  width: 30%;
}
.logolink{
  font-size: 1.5em;
  text-decoration: none;
}
.iconNav{
  cursor: pointer;
  font-size: 1.5em;
  display: block;
  margin: 20px;
  float: right;
}


h1{
  background-color: hsla(18, 100%, 50%, 0.5);
  border: solid #eee 10px;
  border-radius: 10px;
  font-family: Arial;
  font-style: italic;
  font-size: 2.5em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(255, 0, 0,.4);
}

.toluca{
  position: relative;
   padding: 10%;
   border: double 10px;
}
.title{
  width: 500px;
  margin: auto;
}
.borde{
  position: relative;
  border: 1px solid red;
  height: 100px;
}
.responsive{
  height: auto;
  max-width: 100;
}

.tolucapolaroid {
  /*opacity: .3;*/
  filter: brightness(.2);
}
.tolucapolaroid:hover{
  /*opacity: 1;*/
  filter: brightness(1);
}

body{
  background-color: rgba(0, 0, 0, 0.5);
}

div.polaroid{
  position: relative;
  padding: 1%;
  background-color: white;
  border: solid 1px;
  margin-bottom: 25px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: block;
  transition: transform 2s;
}
div.polaroid:hover{
  transform: scale(1.5,1.5);
}
.texto{
  position: absolute;
  font-size: 100px;
  font-style: italic;
  text-align: center;
}

.letras{
text-align: center;
}
.cubo{
  height: 100px;
  width: 100px;
  background-color: blue;
  transition: width 2s, height 2s, transform 4s;
}
.cubo:hover{
  height: 300px;
  width: 300px;
  background-color: yellow;
  transform: rotate(180deg);
  animation-name: juego;
  animation-duration: 4s;
}

@keyframes juego {
  0%{background-color: blue}
  50%{background-color: green}
  75%{background-color: red}
  100%{background-color: yellow}
}
.rectangulo{
  height: 100px;
  width: 400;
  background-color: red;
transition: background-color 4s, transform 4s, width 4s, height 4s;
}

.rectangulo:hover{
  background-color: white;
  transform: rotate(20deg);
  animation-name: grande;
  cursor: text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction:  reverse;
}

@keyframes grande {
  10{transform: rotate(-10);}
  50%{background-color: orange;}
  100%{background-color: white;}
}
/*.thumb:hover{
  width: 200px;
}*/
@media screen and (max-width: 400px){
  div.polaroid{
    margin: 5px 0 25px 0;
  }
  img{
    width: 100%;
  }
  nav ul li{
    display: none;
  }
}
@media screen and (min-width: 401px) and (max-width: 700px) {
  div.polaroid{
    margin: 5px 0 25px 0;
  }
  img{
    width: 100%;
  }
  nav ul li{
    display: none;
  }
}
@media screen and (min-width: 701px){
  body{
    background-color: white;
    margin-left: 6%;
  }
  div.polaroid{
    display: inline-block;
  }
  .iconNav{
    display: none;
  }
}
.ejercicio{
  position: relative;
  background: url("toluca.png") 0 / cover fixed;
  width: 100%;
  height: 1000px;
}
.content{
  position: absolute;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  top: 30%; bottom: 30%; left:25%; right:25%;
  filter: blur(5px);
}
.palabras{
  position: absolute;
    top: 40%; bottom: 40%; left:40%; right:40%;
  color: white;
}

a:link{
  color: silver;
}
a:active{
  background-color: red;
  color: black;
}
a:hover{
  background-color: blue;
  color: white;
}
a:visited{
  background-color: green;
  color: yellow;
}

.modal-content{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation: zoom 2s;
}
.cerrar{
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  color: white;
  cursor: pointer;

}

.modal{
 display: none;
  position: fixed;
  padding-top: 200px;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}
@keyframes zoom {
  from{transform: scale(0);}
  to{transform: scale(1);}
}
