h1{
  background-color: hsla(18, 100%, 50%, 0.5);
  border: solid #eee 10px;
  border-radius: 10px;
  font-family: Arial;
  font-style: italic;
  font-size: 2.5em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(255, 0, 0,.4);
}

.toluca{
  position: relative;
   padding: 10%;
   border: double 10px;
}
.title{
  width: 500px;
  margin: auto;
}
.borde{
  position: relative;
  border: 1px solid red;
  height: 100px;
}
.responsive{
  height: auto;
  max-width: 100;
}

.tolucapolaroid {
  /*opacity: .3;*/
  filter: brightness(.2);
}
.tolucapolaroid:hover{
  /*opacity: 1;*/
  filter: brightness(1);
}

body{
  background-color: rgba(0, 0, 0, 0.5);
}

div.polaroid{
  position: relative;
  width: 300px;
  padding: 1%;
  background-color: white;
  border: solid 1px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: block;
}
.texto{
  position: absolute;
  font-size: 100px;
  font-style: italic;
  text-align: center;
}

.letras{
text-align: center;
}
/*.thumb:hover{
  width: 200px;
}
